@import "@material/button/mdc-button";
@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";
@import "@material/layout-grid/mdc-layout-grid";
@import "@material/typography/mdc-typography";
@import "@material/textfield/mdc-text-field";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/icon-button/mdc-icon-button";
@import "@material/textfield/icon/mdc-text-field-icon";
@import "@material/shape/mixins";
@import "@material/shape/functions";
@import "@material/checkbox/mdc-checkbox"; // Required only for data table with row selection.
@import "@material/data-table/mdc-data-table";

$main: #afaeae;
$nav: #ffffff;
$shaperadius: 4px;
  
:root{
    --smallsectheight: 200px;
    --largesectheight: 480px;
    --text:15px;
    --toppadding: 5px;
    --textfieldicon: 5px;
    --topbarheight: 76px;
    --logomargin:10px;
}

.mdc-list-item__text {
    color:#29323d;
}

.mdc-list-item--activated{
    @include mdc-drawer-item-activated-icon-ink-color(#b66dff);
}

.mdc-list-item__graphic{
    position: absolute;
    right: 0px;
    color:#29323d;
}

.mdc-list-item__graphic-categories-fr{
    position: absolute;
    top:6px;
    left: 8px;
    color: #06b99d;
    background:-moz-linear-gradient(top, #84d9d2 0%, #06b99d 100%); 
        background: -webkit-linear-gradient(top, #84d9d2 0%, #06b99d 100%); 
        background: linear-gradient(to bottom, #84d9d2 0%, #06b99d 100%);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
       -webkit-text-fill-color:transparent;
    //linear-gradient(to bottom #84d9d2 0%, #06b99d 100%);
}

.mdc-list-item__graphic-categories-pro{
    position: absolute;
    top:6px;
    left: 8px;
    color: #06b99d;
    background:-moz-linear-gradient(top, #ffbf96 0%, #fe7096 100%); 
        background: -webkit-linear-gradient(top, #ffbf96 0%, #fe7096 100%); 
        background: linear-gradient(to bottom, #ffbf96 0%, #fe7096 100%);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
       -webkit-text-fill-color:transparent;
    //linear-gradient(to bottom #84d9d2 0%, #06b99d 100%);
}

.mdc-text-field{
    position: absolute;
    left:256px;
    bottom:var(--text);
    @include mdc-text-field-fill-color(rgb(255, 255, 255));
    @include mdc-text-field-bottom-line-color(rgb(255, 255, 255));
    @include mdc-text-field-hover-bottom-line-color(rgb(255, 255, 255));
    @include mdc-text-field-line-ripple-color(#8b8b8b);
}

.mdc-text-field__icon{
    padding-top:var(--textfieldicon);
}

main.mdc-layout-grid{
    margin-left: 256px;
    padding: 10px 10px 0px 10px;
    height: 100%;
    //background-color: $main;
}

.mdc-layout-grid__inner{
    margin-top: 10px;
    margin-bottom: 10px;
}

.main-part-container{
    max-width: 1100px;
    margin: auto;
}

.mdc-layout-grid--fixed-column-width{
    @include mdc-layout-grid-fixed-column-width(desktop, 10px, 5px, 50px);
}

body
{
    height: 100%;
    padding-top: var(--topbarheight);
    margin: 0;
    background: #f2edf3;
}

span svg
{
    fill: #da8cff;
}

.top {
    width: 100%;
    height: var(--topbarheight);
    background-color: $nav;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 2;
}

.mdc-typography--headline4{
    color: black;
    background: linear-gradient(to right, #da8cff 0%, #9a55ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: auto;
 }

.logo {
    width: 256px;
    height: var(--topbarheight);
    position: fixed;
    left: 0px;
    top: 0px;
    //@errorpadding-top: var(--logomargin);
}

.logowrapper{
    margin:auto;
    margin-top: var(--logomargin);
    text-align:center;
}

.left {
    height: 2000px;
    background-color: $nav;
    float: left;
}

.menu-projects{
    margin: 66px 8px 8px 8px;
    width: 223px;
    padding-left: 8px;
    padding-right: 8px;
}

.menu-categories-icon{
    position: relative;
    left:0px;
    top:5px;
    margin: 0px 0px 0px 0px;
}

.menu-header-icon{
    float:right; 
    margin:5px 24px 0px 0px; 
    color:#1bcfb4;
}

.menu-header-text{
    margin:5px 60px 3px 55px; 
    padding:0px 0px 0px 0px;
    font-family: Lato;
}

.menu-header-text-name{
    font-size:14px;
}

.menu-header-text-post{
    color: #acacac; 
    font-size:12px; 
    font-weight: 400; 
    line-height: 20px;
}

.mdc-button--raised{//add a project bunn
    height:57px;
    width: 223px;
    min-width: initial;
    @include mdc-button-horizontal-padding(43px);
    background-image: linear-gradient(-179deg, #da8cff 0%, #9a55ff 100%);
    margin: 20px 0px 20px 0px;
}

.mathposition{
    margin:var(--toppadding) 0px 0px 0px;
}
.top-menu-header-text{
    height:44px;
    margin-right: 30px;
    font-family: Lato;
}

section{
    margin:0px;
}

.mainheader{
    height:32px;
    max-width: 1100px;
    margin:auto;
}

.headerlogo{
    height:32px;
    width:36px;
    float: left;
    @include mdc-shape-radius($shaperadius);
    background-color: #00c292;
    background-image: linear-gradient(to right, #da8cff 0%, #9a55ff);
}

.material-icons.headerlogo_inner{
    font-size: 18px;
    position: relative;
    left: 9px;
    right: 9px;
    top: 7px;
    bottom: 7px;
    color: white;
}

.ellipse{
    width: 175px;
    height: 175px;
    opacity: 0.4;
    @include mdc-shape-radius(87px 87px 87px 87px, $rtl-reflexive: true);
    position: absolute;
    bottom: -86px;
    right: -44px;
    background-color: white;
}

.ellipsetop{
    width: 150px;
    height: 150px;
    opacity: 0.2;
    @include mdc-shape-radius(75px 75px 75px 75px, $rtl-reflexive: true);
    position: absolute;
    right: -70px;
    top: -19px;
    background-color: white;
}

section.sales {
    overflow: hidden;
    position: relative;
    background-color:$nav;
    background-image:linear-gradient(to right, #ffbf96 0%, #fe7096 100%);
    height: var(--smallsectheight);
    @include mdc-shape-radius($shaperadius);
}

section.orders {
    overflow: hidden;
    position: relative;
    background-color:$nav;
    background-image:linear-gradient(to right, rgb(120,189,244) 0%, rgb(33,142,229) 100%);
    height: var(--smallsectheight);
    @include mdc-shape-radius($shaperadius);
}

section.online {
    overflow: hidden;
    position: relative;
    background-image:linear-gradient(to right, rgb(103,210,198) 0%, rgb(44,195,173) 100%);
    background-color:$nav;
    height: var(--smallsectheight);
    @include mdc-shape-radius($shaperadius);
}

.threetopmainsections_header{
    font-size: 18px; position: absolute; left:27px; top: 31px;
}

.threetopmainsections_number{
    font-size: 30px; position: absolute; left:27px; top: 71px;
}

.threetopmainsections_footer{
    font-size: 15px; position: absolute; left:27px; bottom: 29px;
}

.material-icons.threetopmainsections_icon{
    font-size: 24px; position: absolute; right:35px; top: 31px;
    color:white;
}

section.stats {
    position: relative;
    padding-left: 37px;
    padding-right: 37px;
    padding-top: 31px;
    background-color:$nav;
    height: var(--largesectheight);
    @include mdc-shape-radius($shaperadius);
}

section.sourses {
    position: relative;
    padding-left: 37px;
    padding-right: 37px;
    padding-top: 31px;
    background-color:$nav;
    height: var(--largesectheight);
    @include mdc-shape-radius($shaperadius);
}

.legendico1{
    width: 16px;
    height: 16px;
    background-color:black;
    background-image:linear-gradient(to right, rgb(120,189,244) 0%, rgb(33,142,229) 100%);
    float: left;
    margin-right: 15px;
    @include mdc-shape-radius(8px);
}

.legendico2{
    width: 16px;
    height: 16px;
    background-color:black;
    background-image:linear-gradient(to right, rgb(103,210,198) 0%, rgb(44,195,173) 100%);
    float: left;
    margin-right: 15px;
    @include mdc-shape-radius(8px);
}

.legendico3{
    width: 16px;
    height: 16px;
    background-color:black;
    background-image: linear-gradient(to right, #ffbf96 0%, #fe7096 100%);
    float: left;
    margin-right: 15px;
    @include mdc-shape-radius(8px);
}
.percentage{
    float:right;
    position: absolute;
    right:0;
}

section.tickets {
    position: relative;
    padding-left: 37px;
    padding-right: 37px;
    padding-top: 31px;
    background-color:$nav;
    height: var(--largesectheight);
    @include mdc-shape-radius($shaperadius);
}

.mdc-data-table{
    height:400px;
    width:100%;
    position: relative;
    top:15px;
    @include mdc-data-table-stroke-size(0px);
    @include mdc-data-table-divider-size(1px);
}

.mdc-data-table__header-cell{
    font-style: bold;
}

.name{
    margin-left:54px;
}

.tickstatus1{
    text-align: center;
    height:23px;
    width:85px;
    padding-top:3px;
    @include mdc-shape-radius(3px);
    background-color: #fda2da;
    background-image: linear-gradient(to right, #84d9d2 0%, #06b99d 100%);
}

.tickstatus2{
    text-align: center;
    height:23px;
    width:85px;
    padding-top:3px;
    @include mdc-shape-radius(3px);
    background-color: #fda2da;
    background-image: linear-gradient(to right, #e5ee6e 0%, #e3e703 100%);
}

.tickstatus3{
    text-align: center;
    height:23px;
    width:85px;
    padding-top:3px;
    @include mdc-shape-radius(3px);
    background-color: #fda2da;
    background-image: linear-gradient(to right, rgb(120,189,244) 0%, rgb(33,142,229) 100%);
}

.tickstatus4{
    text-align: center;
    height:23px;
    width:85px;
    padding-top:3px;
    @include mdc-shape-radius(3px);
    background-color: #fda2da;
    background-image: linear-gradient(to right, #ffbf96 0%, #fe7096 100%);
}

.statustext{
    font-size:8px;
    color: white;
}

section.updates {
    position: relative;
    padding-left: 37px;
    padding-right: 37px;
    padding-top: 31px;
    background-color:$nav;
    height: var(--largesectheight);
    @include mdc-shape-radius($shaperadius);
}

section.status {
    position: relative;
    padding-left: 37px;
    padding-right: 37px;
    padding-top: 31px;
    background-color:$nav;
    height: var(--largesectheight);
    @include mdc-shape-radius($shaperadius);
}

.sections_header{
    font-size:18px; font-family: Ubuntu;
}

footer{
    height: 60px;
}

.footer{
    margin-top:15px;
}