@import "@material/button/mdc-button";
@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";
@import "@material/layout-grid/mdc-layout-grid";
@import "@material/typography/mdc-typography";
@import "@material/textfield/mdc-text-field";

$main: #afaeae;
$nav: #ffffff;
$secheight: 200px;
  
:root{
    --height: 2724px;
    --topheight: 100px;
    --leftsidewidth: 18%;
    --rightsidewidth: 82%;
    --text:15px;
    --toppadding: 5px;
}

.mdc-list-item__text {
    color:#29323d;
}

.mdc-list-item--activated{
    @include mdc-drawer-item-activated-icon-ink-color(#b66dff);
}

.mdc-list-item__graphic{
    position: absolute;
    right: 0px;
    color:#29323d;
}

.mdc-list-item__graphic-categories-fr{
    position: absolute;
    top:6px;
    left: 8px;
    color: #06b99d;
    background:-moz-linear-gradient(top, #84d9d2 0%, #06b99d 100%); 
        background: -webkit-linear-gradient(top, #84d9d2 0%, #06b99d 100%); 
        background: linear-gradient(to bottom, #84d9d2 0%, #06b99d 100%);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
       -webkit-text-fill-color:transparent;
    //linear-gradient(to bottom #84d9d2 0%, #06b99d 100%);
}

.mdc-list-item__graphic-categories-pro{
    position: absolute;
    top:6px;
    left: 8px;
    color: #06b99d;
    background:-moz-linear-gradient(top, #ffbf96 0%, #fe7096 100%); 
        background: -webkit-linear-gradient(top, #ffbf96 0%, #fe7096 100%); 
        background: linear-gradient(to bottom, #ffbf96 0%, #fe7096 100%);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
       -webkit-text-fill-color:transparent;
    //linear-gradient(to bottom #84d9d2 0%, #06b99d 100%);
}

.mdc-text-field{
    position: absolute;
    left:256px;
    bottom:var(--text);
    @include mdc-text-field-fill-color(rgb(255, 255, 255));
    @include mdc-text-field-bottom-line-color(rgb(255, 255, 255));
    @include mdc-text-field-hover-bottom-line-color(rgb(255, 255, 255));
    @include mdc-text-field-line-ripple-color(#8b8b8b);
}

body
{
    height: 2824px;
    padding-top: var(--topheight);
    margin: 0;
    background: #f2edf3;
}

main {
    padding-left: 10px;
    padding-right: 10px;
    height: var(--height);
    background-color: $main;
}

section{
    margin-top:10px;
    margin-bottom:10px;
}

span svg
{
    fill: #da8cff;
}

.top {
    width: 100%;
    height: var(--topheight);
    background-color: $nav;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 2;
}

h1.mdc-typography--headline4 {
    color: white;  /* Fallback: assume this color ON TOP of image */
    background: linear-gradient(to right, #da8cff 0%, #9a55ff 100%);
    @include mdc-typography-baseline-top(50px);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }

.logo {
    width: var(--leftsidewidth);
    height: var(--topheight);
    text-align:center;
    position: fixed;
    left: 0px;
    top: 0px;
}

.left {
    height: var(--height);
    background-color: $nav;
    float: left;
}

.menu-projects{
    margin: 66px 8px 8px 8px;
    width: 223px;
    padding-left: 8px;
    padding-right: 8px;
}

.menu-categories-icon{
    position: relative;
    left:0px;
    top:5px;
    margin: 0px 0px 0px 0px;
}

.menu-header-icon{
    float:right; 
    margin:5px 24px 0px 0px; 
    color:#1bcfb4;
}

.menu-header-text{
    margin:5px 60px 3px 55px; 
    padding:0px 0px 0px 0px;
    font-family: Lato;
}

.menu-header-text-name{
    font-size:14px;
}

.menu-header-text-post{
    color: #acacac; 
    font-size:12px; 
    font-weight: 400; 
    line-height: 20px;
}

.mdc-button--raised{//add a project bunn
    height:57px;
    width: 223px;
    min-width: initial;
    @include mdc-button-horizontal-padding(43px);
    background-image: linear-gradient(-179deg, #da8cff 0%, #9a55ff 100%);
    margin: 20px 0px 20px 0px;
}

.mathposition{
    padding:var(--toppadding) 0px 0px 0px;
}
.top-menu-header-text{
    height:44px;
    margin-right: 30px;
    font-family: Lato;
}

section.sales {
    background-color:$nav;
    height: $secheight;
}

section.orders {
    background-color:$nav;
    height: $secheight;
}

section.online {
    background-color:$nav;
    height: $secheight;
}

section.stats {
    background-color:$nav;
    height: $secheight;
}

section.sourses {
    background-color:$nav;
    height: $secheight;
}

section.tickets {
    background-color:$nav;
    height: $secheight;
}

section.updates {
    background-color:$nav;
    height: $secheight;
}

section.status {
    background-color:$nav;
    height: $secheight;
}
//footer{}

//h2{}